.header-frame {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 30px;
  padding: 10px;
}

.category-frame
{
    overflow: hidden;
    display: flex;
    background-size : 15%;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    align-self: center;

}

.justification
{
  max-width: 52%;
  justify-content: space-between;
  object-fit: cover;
  box-sizing: border-box;
  transform-style: preserve-3d;
  margin-left: 20%;
}

header 
{
  color: white;
  background-color:rgb(187, 84, 16);
  width: 100%;
  height: 100px;
  float: left;

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.p_style {
      color : white;
}


  .switchLeftButton {
  visibility: hidden;
  margin: auto;
  text-align: center;
  font-size: 5em;
  }
  
  .switchRightButton {
  align-content: center;
  margin: auto;
  font-size: 5em;
  }
  
  .content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 8px;
  overflow-x: hidden;
  align-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  transition: 0.5s ease;
  }
  